<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FalconEye</title>
    <link rel="stylesheet" href="static/styles.css">
</head>

<body>
    <nav>
        <img src="../static/images/logo.svg" class="logo" />
        <a href="/">Home</a>
        <a href="/detectByVideo">Detect by Video</a>
        <a href="/detectByWebcam">Detect by Webcam</a>
    </nav>

    <section id="home">
        <h2>Welcome to the Falcon Eye</h2>
        <p>Our app employs advanced technology for the detection of drones. Whether you want to analyze a video or use
            your webcam, our app provides reliable results.</p>
    </section>

    <section id="features">
        <h2>Features</h2>
        <ul>
            <li>Real-time drone detection</li>
            <li>Support for both video and webcam</li>
            <li>Advanced AI algorithms</li>
            <li>User-friendly interface</li>
        </ul>
    </section>
</body>

</html>